!!! 5
html(lang="en")
  head
    title="List of People"
  body
    h1 List of People
    #container
      - each person in people
        li= person.firstName + ' ' + person.lastName + ' '
        a(href='/people/' + person._id, title='View ' + person.firstName) View | 
        a(href='/people/' + person._id + '/edit', title='Edit ' + person.firstName) Edit
        form(method='post', action='/people/' + person._id)
          input(type='hidden', name='_method', value='delete')
          input(type='submit', value='delete')
        
    div pager.from
